[{:type           "Type"
  :person_type2   "Type"
  :grad_dia       "Degree/Voice"
  :kjonn          "Gender"
  :modus_kasus    "Mood/Case"
  :tall           "Number"
  :tid_bestemthet "Tense/Definiteness"}
 ["adj" "adjective"
  ["Type" [[:type "ord" "ordinal"]
           [:person_type2 "pcp1" "present participle"]
           [:person_type2 "pcp2" "perfect participle"]]
   "Degree" [[:degr_dia "pos" "positive"]
             [:degr_dia "comp" "comparative"]
             [:degr_dia "sup" "superlative"]]
   "Gender" [[:gender "f" "feminine"]
             [:gender "m/f" "feminine or masculine"]
             [:gender "m" "masculine"]
             [:gender "n" "neuter"]]]]
 ["adv" "adverb" []]
 ["det" "determiner"
  ["Type" [[:type "dem" "demonstrative"]
           [:type "emph" "amplifying"]
           [:type "pcp1" "present participle"]
           [:type "polite" "polite"]
           [:type "quant" "quantifier"]
           [:type "poss" "possessive"]
           [:type "roman" "roman number"]
           [:type "question" "interrogative"]]]]
 ["infmark" "infinitive marker" []]
 ["interj" "interjection" []]
 ["conj" "conjunction" []]
 ["prep" "preposition" []]
 ["pron" "pronoun"
  ["Type" [[:type "hum" "human"]
           [:type "polite" "polite"]
           [:type "pers" "personal"]
           [:type "refl" "reflexive"]
           [:type "resip" "reciprocal"]
           [:type "question" "interrogative"]]
   "Case" [[:mood_case "acc" "accusative"]
           [:mood_case "gem" "genitive"]
           [:mood_case "nom" "nominative"]]
   "Person" [[:person_type2 "1" "1st person"]
             [:person_type2 "2" "2nd person"]
             [:person_type2 "3" "3rd person"]]
   "Gender" [[:gender "f" "feminine"]
             [:gender "m" "masculine"]
             [:gender "n" "neuter"]]
   "Number" [[:number "sg" "singular"]
             [:number "sg/pl" "singular or plural"]
             [:number "pl" "plural"]]]]
 ["subj" "subjunction" []]
 ["n" "noun"
  ["Type" [[:type "c" "common name"]
           [:type "p" "proper name"]
           [:type "noconj" "no inflection"]]
   "Gender" [[:gender "f" "feminine"]
             [:gender "m" "masculine"]
             [:gender "n" "neuter"]]
   "Definiteness" [[:tense_defin "def" "definite"]
                   [:tense_defin "def/indef" "definite or indefinite"]
                   [:tense_defin "indef" "indefinite"]]
   "Number" [[:number "sg" "singular"]
             [:number "sg/pl" "singular or plural"]
             [:number "pl" "plural"]]]]
 ["punct" "punctuation"
  ["Type" [[:type "cit" "quotation mark"]
           [:type "ellipsis" "ellipsis"]
           [:type "colon" "colon"]
           [:type "comma" "comma"]
           [:type "rpar" "right parenthesis"]
           [:type "period" "full stop"]
           [:type "semicolon" "semicolon"]
           [:type "question" "question mark"]
           [:type "dash" "dash"]
           [:type "excl" "exclamation mark"]
           [:type "lpar" "left parenthesis"]]]]
 ["unknown" "unknown" []]
 ["v" "verb"
  ["Voice" [[:degr_dia "pass" "passive"]]
   "Mood" [[:mood_case "imp" "imperative"]]
   "Tense" [[:tense_defin "inf" "infinitive"]
            [:tense_defin "pres" "present tense"]
            [:tense_defin "past" "past tense"]]
   "Type" [[:person_type2 "pcp1" "present participle"]
           [:person_type2 "pcp2" "past participle"]
           [:type "noconj" "no inflection"]]]]]