[{:displayed-attrs [:ordkl :type :grad_dia :tid_bestemthet
                    :modus_kasus :person_type2 :tall :kjonn]
  :pos-attr "ordkl"}
 ["adj" "adjective" nil
  ["Type" [[:type "<ordenstall>" "ordinal"]
           [:person_type2 "pcp1" "present participle"]
           [:person_type2 "pcp2" "perfect participle"]]
   "Degree" [[:grad_dia "pos" "positive"]
             [:grad_dia "comp" "comparative"]
             [:grad_dia "sup" "superlative"]]
   "Gender" [[:kjonn "f" "feminine"]
             [:kjonn "m/f" "feminine or masculine"]
             [:kjonn "m" "masculine"]
             [:kjonn "n" "neuter"]]]]
 ["adv" "adverb" nil []]
 ["det" "determiner" nil
  ["Type" [[:type "dem" "demonstrative"]
           [:type "emph" "amplifying"]
           [:type "pcp1" "present participle"]
           [:type "polite" "polite"]
           [:type "quant" "quantifier"]
           [:type "poss" "possessive"]
           [:type "roman" "roman number"]
           [:type "question" "interrogative"]]]]
 ["infmark" "infinitive marker" nil []]
 ["interj" "interjection" nil []]
 ["conj" "conjunction" nil []]
 ["prep" "preposition" nil []]
 ["pron" "pronoun" nil
  ["Type" [[:type "hum" "human"]
           [:type "polite" "polite"]
           [:type "pers" "personal"]
           [:type "refl" "reflexive"]
           [:type "resip" "reciprocal"]
           [:type "question" "interrogative"]]
   "Case" [[:modus_kasus "acc" "accusative"]
           [:modus_kasus "gem" "genitive"]
           [:modus_kasus "nom" "nominative"]]
   "Person" [[:person_type2 "1" "1st person"]
             [:person_type2 "2" "2nd person"]
             [:person_type2 "3" "3rd person"]]
   "Gender" [[:kjonn "f" "feminine"]
             [:kjonn "m" "masculine"]
             [:kjonn "n" "neuter"]]
   "Number" [[:tall "sg" "singular"]
             [:tall "sg/pl" "singular or plural"]
             [:tall "pl" "plural"]]]]
 ["subj" "subjunction" nil []]
 ["s" "noun" nil
  ["Type" [[:type "a" "common name"]
           [:type "p" "proper name"]
           [:type "noconj" "no inflection"]]
   "Gender" [[:kjonn "f" "feminine"]
             [:kjonn "m" "masculine"]
             [:kjonn "n" "neuter"]]
   "Definiteness" [[:tid_bestemthet "def" "definite"]
                   [:tid_bestemthet "def/indef" "definite or indefinite"]
                   [:tid_bestemthet "indef" "indefinite"]]
   "Number" [[:tall "sg" "singular"]
             [:tall "sg/pl" "singular or plural"]
             [:tall "pl" "plural"]]]]
 ["punct" "punctuation" nil
  ["Type" [[:type "cit" "quotation mark"]
           [:type "ellipsis" "ellipsis"]
           [:type "colon" "colon"]
           [:type "comma" "comma"]
           [:type "rpar" "right parenthesis"]
           [:type "period" "full stop"]
           [:type "semicolon" "semicolon"]
           [:type "question" "question mark"]
           [:type "dash" "dash"]
           [:type "excl" "exclamation mark"]
           [:type "lpar" "left parenthesis"]]]]
 ["unknown" "unknown" nil []]
 ["v" "verb" nil
  ["Voice" [[:grad_dia "pass" "passive"]]
   "Mood" [[:modus_kasus "imp" "imperative"]]
   "Tense" [[:tid_bestemthet "inf" "infinitive"]
            [:tid_bestemthet "pres" "present tense"]
            [:tid_bestemthet "past" "past tense"]]
   "Type" [[:person_type2 "pcp1" "present participle"]
           [:person_type2 "pcp2" "past participle"]
           [:type "noconj" "no inflection"]]]]]