[{:displayed-attrs [:ordkl :type :grad_dia :tid_bestemthet
                    :modus_kasus :person_type2 :tall :kjonn]}
 ["ACRNM" nil "acronym (ISO, CEI)" []]
 ["ADJ" nil "Adjectives (mayores, mayor)" []]
 ["ADV" nil "Adverbs (muy, demasiado, cómo)" []]
 ["ALFP" nil "Plural letter of the alphabet (As/Aes, bes)" []]
 ["ALFS" nil "Singular letter of the alphabet (A, b)" []]
 ["ART" nil "Articles (un, las, la, unas)" []]
 ["BACKSLASH" nil "backslash (\\)" []]
 ["CARD" nil "Cardinals" []]
 ["CC" nil "Coordinating conjunction (y, o)" []]
 ["CCAD" nil "Adversative coordinating conjunction (pero)" []]
 ["CCNEG" nil "Negative coordinating conjunction (ni)" []]
 ["CM" nil "comma (,)" []]
 ["CODE" nil "Alphanumeric code" []]
 ["COLON" nil "colon (:)" []]
 ["CQUE" nil "que (as conjunction)" []]
 ["CSUBF" nil "Subordinating conjunction that introduces finite clauses (apenas)" []]
 ["CSUBI" nil "Subordinating conjunction that introduces infinite clauses (al)" []]
 ["CSUBX" nil "Subordinating conjunction underspecified for subord-type (aunque)" []]
 ["DASH" nil "dash (-)" []]
 ["DM" nil "Demonstrative pronouns (ésas, ése, esta)" []]
 ["DOTS" nil "POS tag for \"...\"" []]
 ["FO" nil "Formula" []]
 ["FS" nil "Full stop punctuation marks" []]
 ["INT" nil "Interrogative pronouns (quiénes, cuántas, cuánto)" []]
 ["ITJN" nil "Interjection (oh, ja)" []]
 ["LP" nil "left parenthesis (\"(\", \"[\")" []]
 ["NC" nil "Common nouns (mesas, mesa, libro, ordenador)" []]
 ["NEG" nil "Negation" []]
 ["NMEA" nil "measure noun (metros, litros)" []]
 ["NMON" nil "month name" []]
 ["NP" nil "Proper nouns" []]
 ["ORD" nil "Ordinals (primer, primeras, primera)" []]
 ["PAL" nil "Portmanteau word formed by a and el" []]
 ["PDEL" nil "Portmanteau word formed by de and el" []]
 ["PE" nil "Foreign word" []]
 ["PERCT" nil "percent sign (%)" []]
 ["PNC" nil "Unclassified word" []]
 ["PPC" nil "Clitic personal pronoun (le, les)" []]
 ["PPO" nil "Possessive pronouns (mi, su, sus)" []]
 ["PPX" nil "Clitics and personal pronouns (nos, me, nosotras, te, sí)" []]
 ["PREP" nil "Preposition" []]
 ["PREP/DEL" nil "Complex preposition \"después del\"" []]
 ["QT" nil "quotation symbol (\" ' `)" []]
 ["QU" nil "Quantifiers (sendas, cada)" []]
 ["REL" nil "Relative pronouns (cuyas, cuyo)" []]
 ["RP" nil "right parenthesis (\")\", \"]\")" []]
 ["SE" nil "Se (as particle)" []]
 ["SEMICOLON" nil "semicolon (;)" []]
 ["SLASH" nil "slash (/)" []]
 ["SYM" nil "Symbols" []]
 ["UMMX" nil "measure unit (MHz, km, mA)" []]
 ["VCLIger" nil "clitic gerund verb" []]
 ["VCLIinf" nil "clitic infinitive verb" []]
 ["VCLIfin" nil "clitic finite verb" []]
 ["VEadj" nil "Verb estar. Past participle" []]
 ["VEfin" nil "Verb estar. Finite" []]
 ["VEger" nil "Verb estar. Gerund" []]
 ["VEinf" nil "Verb estar. Infinitive" []]
 ["VHadj" nil "Verb haber. Past participle" []]
 ["VHfin" nil "Verb haber. Finite" []]
 ["VHger" nil "Verb haber. Gerund" []]
 ["VHinf" nil "Verb haber. Infinitive" []]
 ["VLadj" nil "Lexical verb. Past participle" []]
 ["VLfin" nil "Lexical verb. Finite" []]
 ["VLger" nil "Lexical verb. Gerund" []]
 ["VLinf" nil "Lexical verb. Infinitive" []]
 ["VMadj" nil "Modal verb. Past participle" []]
 ["VMfin" nil "Modal verb. Finite" []]
 ["VMger" nil "Modal verb. Gerund" []]
 ["VMinf" nil "Modal verb. Infinitive" []]
 ["VSadj" nil "Verb ser. Past participle" []]
 ["VSfin" nil "Verb ser. Finite" []]
 ["VSger" nil "Verb ser. Gerund" []]
 ["VSinf" nil "Verb ser. Infinitive" []]]