[{:displayed-attrs [[:lemma "Lemma"] [:phon "Comment"] [:pos "Part-of-speech"]
                    [:gender "Gender"] [:num "Number"] [:type "Type"] [:defn "Definiteness"]
                    [:temp "Tense"] [:pers "Person"] [:case "Case"] [:degr "Degree"]
                    [:descr "Description"] [:nlex "Non-lexical"] [:mood "Mood"]]
  :hide-phon true}
["subst" "substantiv" nil
  ["Tall" [[:num "fl" "flertall"]
           [:num "ent" "entall"]
           [:num "ent:fl" "entall/flertall"]]
   "Bestemthet" [[:defn "be" "bestemt"]
                 [:defn "ub" "ubestemt"]]
   "Kjønn" [[:gender "fem" "hunkjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "intetkjønn"]
            [:gender "mask:fem" "hankjønn/hunkjønn"]
            [:gender "mask:fem:nøyt" "hankjønn/hunkjønn/intetkjønn"]
            [:gender "mask:nøyt" "hankjønn/intetkjønn"]]
   "Kasus" [[:case "gen" "genitiv"]]
   "Type" [[:type "prop" "egennavn"] [:type "appell" "fellesnavn"]]]]
 ["verb" "verb" nil
  ["Tempus/modus" [[:temp "pret" "preteritum"]
                   [:temp "pres" "presens"]
                   [:temp "pres:inf" "presens/infinitiv"]
                   [:temp "pret:perf-part" "preteritum/perfektum partisipp"]]
   "Diatese" [[:voice "pass" "passiv"]]]]
 ["pron" "pronomen" nil
  ["Kjønn" [[:gender "fem" "hunkjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "intetkjønn"]
            [:gender "mask:fem" "hankjønn/hunkjønn"]]
   "Kasus" [[:case "akk" "akkusativ"]
            [:case "nom" "nominativ"]
            [:case "nom:obj" "objekt eller preposisjonsutfylling i nominativ"]
            [:case "akk:subj" "subjekt i akkusativ"]]
   "Tall" [[:num "fl" "flertall"]
           [:num "ent" "entall"]
           [:num "ent:fl" "entall/flertall"]]
   "Person" [[:pers "1" "1."]
             [:pers "2" "2."]
             [:pers "3" "3."]]
   "Type" [[:type "pers" "personlig"]
           [:type "sp" "spørrende"]
           [:type "refl" "refleksivt"]
           [:type "hum:res" "resiprokt"]]]]
 ["det" "determinativ" nil
  ["Kjønn" [[:gender "fem" "hunkjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "intetkjønn"]
            [:gender "mask:fem" "hankjønn/hunkjønn"]
            [:gender "mask:nøyt" "hankjønn/intetkjønn"]]
   "Tall" [[:num "fl" "flertall"]
           [:num "ent" "entall"]
           [:num "ent:fl" "entall/flertall"]]
   "Bestemthet" [[:defn "be" "bestemt"]
                 [:defn "ub" "ubestemt"]]
   "Type" [[:type "dem" "demonstrativ"]
           [:type "kvant" "kvantifikator"]
           [:type "poss" "possessiv"]
           [:type "forst" "forsterkende"]
           [:type "sp" "spørrende"]]]]
 ["adj" "adjektiv" nil
  ["Bestemthet" [[:defn "be" "bestemt"]
                 [:defn "ub" "ubestemt"]]
   "Kjønn" [[:gender "fem" "hunkjønn"]
            [:gender "m:f" "hankjønn/hunkjønn"]
            [:gender "nøyt" "intetkjønn"]]
   "Tall" [[:num "fl" "flertall"]
           [:num "ent" "entall"]
           [:num "ent:fl" "entall/flertall"]]
   "Grad" [[:degr "pos" "positiv"]
           [:degr "komp" "komparativ"]
           [:degr "sup" "superlativ"]]]]
 ["adv" "adverb" nil []]
 ["prep" "preposisjon" nil []]
 ["interj" "interjeksjon" nil []]
 ["konj" "konjunksjon" nil []]
 ["inf-merke" "infinitivsmerke" nil []]
 ["sbu" "subjunksjon" nil []]
 ["sånn" "sånn-ord" nil []]
 ["ukjent" "ukjent" nil []]
 ["adv:sbu" "adverb/subjunksjon" nil []]
 ["konj:prep:adv" "konjunksjon/preposisjon/adverb" nil []]
 ["konj:sbu:adv" "konjunksjon/subjunksjon/adverb" nil []]
 ["subst:adj" "substantiv/adjektiv" nil []]
 ["prep:sbu" "preposisjon/subjunksjon" nil []]
 ["pron:det" "pronomen/determinativ" nil []]
 ["verb:subst" "verb/substantiv" nil []]
 ["pause" "pause" nil []]]]
