[{:displayed-attrs [[:lemma "Lemma"] [:phon "Phonetic form"] [:pos "Ordklasse"]
                    [:gender "Kjønn"] [:num "Tal"] [:type "Type"] [:defn "Bestemtheit"]
                    [:temp "Tempus"] [:pers "Person"] [:case "Kasus"] [:degr "Grad"]
                    [:descr "Beskriving"] [:nlex "Ikke-leksikalt"] [:voice "Diatese"]]}
 ["subst" "substantiv" nil
  ["Tal" [[:num "fl" "fleirtal"]
          [:num "eint" "eintal"]
          [:num "eint:fl" "eintal/fleirtal"]]
   "Bestemtheit" [[:defn "bu" "bunden"]
                  [:defn "ub" "ubunden"]]
   "Kjønn" [[:gender "fem" "hokjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "inkjekjønn"]
            [:gender "mask:fem" "hankjønn/hokjønn"]]
   "Kasus" [[:case "gen" "genitiv"]]
   "Type" [[:type "prop" "eigennamn"] [:type "appell" "fellesnamn"]]]]
 ["verb" "verb" nil
  ["Tempus/modus" [[:temp "pret" "preteritum"]
                   [:temp "pres" "presens"]
                   [:temp "inf" "infinitiv"]
                   [:temp "imp" "imperativ"]
                   [:temp "perf-part" "perfektum partisipp"]]
   "Diatese" [[:voice "pass" "passiv"]]]]
 ["pron" "pronomen" nil
  ["Kjønn" [[:gender "fem" "hokjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "inkjekjønn"]
            [:gender "mask:fem" "hankjønn/hokjønn"]]
   "Kasus" [[:case "akk" "akkusativ"]
            [:case "nom" "nominativ"]]
   "Tal" [[:num "fl" "fleirtal"]
          [:num "eint" "eintal"]
          [:num "eint:fl" "eintal/fleirtal"]]
   "Person" [[:pers "1" "1."]
             [:pers "2" "2."]
             [:pers "3" "3."]]
   "Type" [[:type "pers" "personleg"]
           [:type "sp" "spørjande"]
           [:type "refl" "refleksivt"]]]]
 ["det" "determinativ" nil
  ["Kjønn" [[:gender "fem" "hokjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "inkjekjønn"]]
   "Tal" [[:num "fl" "fleirtal"]
          [:num "eint" "eintal"]
          [:num "eint:fl" "eintal/fleirtal"]]
   "Bestemtheit" [[:defn "bu" "bunden"]
                  [:defn "ub" "ubunden"]]
   "Type" [[:type "dem" "demonstrativ"]
           [:type "kvant" "kvantifikator"]
           [:type "poss" "possessiv"]
           [:type "forst" "forsterkande"]
           [:type "sp" "spørjande"]]]]
 ["adj" "adjektiv" nil
  ["Bestemthet" [[:defn "bu" "bunden"]
                 [:defn "ub" "ubunden"]]
   "Kjønn" [[:gender "fem" "hokjønn"]
            [:gender "mask" "hankjønn"]
            [:gender "nøyt" "intetkjønn"]
            [:gender "m:f" "hankjønn/hokjønn"]]
   "Tal" [[:num "fl" "fleirtal"]
          [:num "eint" "eintal"]
          [:num "eint:fl" "eintal/fleirtal"]]
   "Grad" [[:degr "pos" "positiv"]
           [:degr "sup" "superlativ"]]]]
 ["adv" "adverb" nil []]
 ["prep" "preposisjon" nil []]
 ["interj" "interjeksjon" nil []]
 ["konj" "konjunksjon" nil []]
 ["inf-merke" "infinitivsmerke" nil []]
 ["sbu" "subjunksjon" nil []]
 ["pause" "pause" nil []]]
