[{:displayed-attrs [:pos :type :degr_dia :tense_defin
                    :mood_case :person_type2 :number :gender]}
 ["adj" "adjective" nil
  ["Type" [[:type "ord" "ordinal"]
           [:person_type2 "pcp1" "present participle"]
           [:person_type2 "pcp2" "perfect participle"]]
   "Degree" [[:degr_dia "pos" "positive"]
             [:degr_dia "comp" "comparative"]
             [:degr_dia "sup" "superlative"]]
   "Gender" [[:gender "f" "feminine"]
             [:gender "m/f" "feminine or masculine"]
             [:gender "n" "neuter"]]]]
 ["adv" "adverb" nil []]
 ["det" "determiner" nil
  ["Type" [[:type "dem" "demonstrative"]
           [:type "emph" "emphatic"]
           [:type "quant" "quantifier"]
           [:type "poss" "possessive"]
           [:type "roman" "roman number"]
           [:type "question" "interrogative"]]]]
 ["infmark" "infinitive marker" nil []]
 ["interj" "interjection" nil []]
 ["conj" "conjunction" nil []]
 ["prep" "preposition" nil []]
 ["pron" "pronoun" nil
  ["Type" [[:type "hum" "human"]
           [:type "pers" "personal"]
           [:type "refl" "reflexive"]
           [:type "question" "interrogative"]]
   "Case" [[:mood_case "acc" "accusative"]
           [:mood_case "nom" "nominative"]]
   "Person" [[:person_type2 "1" "1st person"]
             [:person_type2 "2" "2nd person"]
             [:person_type2 "3" "3rd person"]]
   "Gender" [[:gender "f" "feminine"]
             [:gender "m" "masculine"]
             [:gender "n" "neuter"]]
   "Number" [[:number "sg" "singular"]
             [:number "pl" "plural"]]]]
 ["subj" "subjunction" nil []]
 ["n" "noun" nil
  ["Type" [[:type "c" "common name"]
           [:type "p" "proper name"]
           [:type "noconj" "no inflection"]]
   "Gender" [[:gender "f" "feminine"]
             [:gender "m" "masculine"]
             [:gender "n" "neuter"]]
   "Definiteness" [[:tense_defin "def" "definite"]
                   [:tense_defin "indef" "indefinite"]]
   "Number" [[:number "sg" "singular"]
             [:number "pl" "plural"]]]]
 ["punct" "punctuation" nil
  ["Type" [[:type "cit" "quotation mark"]
           [:type "ellipsis" "ellipsis"]
           [:type "colon" "colon"]
           [:type "comma" "comma"]
           [:type "rpar" "right parenthesis"]
           [:type "period" "full stop"]
           [:type "semicolon" "semicolon"]
           [:type "question" "question mark"]
           [:type "dash" "dash"]
           [:type "excl" "exclamation mark"]
           [:type "lpar" "left parenthesis"]]]]
 ["unknown" "unknown" nil []]
 ["v" "verb" nil
  ["Voice" [[:degr_dia "pass" "passive"]]
   "Mood" [[:mood_case "imp" "imperative"]]
   "Tense" [[:tense_defin "inf" "infinitive"]
            [:tense_defin "pres" "present tense"]
            [:tense_defin "past" "past tense"]]
   "Type" [[:tense_defin "pcp2" "past participle"]
           [:type "noconj" "no inflection"]]]]]