[{:displayed-attrs [[:lemma "Lemma"] [:orig "Originalform"] [:pos "Ordklasse"] [:type "Type"]
                    [:degr_dia "Grad eller diatese"] [:tense_defin "Tempus eller bestemthet"]
                    [:mood_case "Modus eller kasus"] [:person_type2 "Person eller utvidet typeinfo"]
                    [:number "Tall"] [:gender "Kjønn"]]}
 ["adj" "adjektiv" nil
  ["Type" [[:type "ord" "ordenstall"]
           [:person_type2 "pcp1" "presens partisipp"]
           [:person_type2 "pcp2" "perfektum partisipp"]
           [:extra1 "compound" "sammensetning"]]
   "Grad" [[:degr_dia "pos" "positiv"]
           [:degr_dia "comp" "komparativ"]
           [:degr_dia "sup" "superlativ"]]
   "Tall" [[:number "sg" "entall"]
             [:number "pl" "flertall"]]
   "Kjønn" [[:gender "f" "hunkjønn"]
            [:gender "m/f" "hunkjønn eller hankjønn"]
            [:gender "n" "intetkjønn"]]]]
 ["adv" "adverb" nil []]
 ["det" "determinativ" nil
  ["Type" [[:type "dem" "demonstrativ"]
           [:type "emph" "emfatisk"]
           [:type "quant" "kvantor"]
           [:type "poss" "possessiv"]
           [:type "roman" "romertall"]
           [:type "question" "spørrende"]]]]
 ["infmark" "infinitivsmerke" nil []]
 ["interj" "interjeksjon" nil []]
 ["conj" "konjunksjon" nil []]
 ["prep" "preposisjon" nil []]
 ["pron" "pronomen" nil
  ["Type" [[:type "hum" "menneskelig"]
           [:type "pers" "personlig"]
           [:type "refl" "refleksivt"]
           [:type "question" "spørrende"]]
   "Kasus" [[:mood_case "acc" "akkusativ"]
            [:mood_case "nom" "nominativ"]]
   "Person" [[:person_type2 "1" "1. person"]
             [:person_type2 "2" "2. person"]
             [:person_type2 "3" "3. person"]]
   "Kjønn" [[:gender "f" "hunkjønn"]
            [:gender "m" "hankjønn"]
            [:gender "n" "intetkjønn"]]
   "Tall" [[:number "sg" "entall"]
           [:number "pl" "flertall"]]]]
 ["subj" "subjunksjon" nil []]
 ["n" "substantiv" nil
  ["Type" [[:type "c" "fellesnavn"]
           [:type "p" "egennavn"]
           [:type "noconj" "ubøyelig"]
           [:extra1 "compound" "sammensetning"]]
   "Kjønn" [[:gender "f" "hunkjønn"]
            [:gender "m" "hankjønn"]
            [:gender "n" "intetkjønn"]]
   "Bestemthet" [[:tense_defin "def" "bestemt"]
                 [:tense_defin "indef" "ubestemt"]]
   "Tall" [[:number "sg" "entall"]
           [:number "pl" "flertall"]]]]
 ["punct" "tegnsetting" nil
  ["Type" [[:type "cit" "anførselstegn"]
           [:type "ellipsis" "ellipse"]
           [:type "colon" "kolon"]
           [:type "comma" "komma"]
           [:type "lpar" "venstreparentes"]
           [:type "rpar" "høyreparentes"]
           [:type "period" "punktum"]
           [:type "semicolon" "semikolon"]
           [:type "question" "spørsmålstegn"]
           [:type "dash" "bindestrek"]
           [:type "excl" "utropstegn"]]]]
 ["unknown" "ukjent" nil []]
 ["v" "verb" nil
  ["Diatese" [[:degr_dia "pass" "passiv"]]
   "Modus" [[:mood_case "imp" "imperativ"]]
   "Tempus" [[:tense_defin "pres" "presens"]
             [:tense_defin "past" "preteritum"]]
   "Type" [[:tense_defin "inf" "infinitiv"]
           [:person_type2 "pcp2" "perfektum partisipp"]
           [:type "noconj" "ubøyelig"]]]]]
