[{:displayed-attrs [[:lemma "Lemma"] [:ordkl "Part of speech"] [:type "Type"]
                    [:grad_dia "Degree or Voice"] [:tid_bestemthet "Tense or Definiteness"]
                    [:modus_kasus "Mood or Case"] [:person_type2 "Person or extended type info"]
                    [:tall "Number"] [:kjonn "Gender"]]
  :pos-attr        "ordkl"}
 ["adj" "adjective" nil
  ["Degree" [[:grad_dia "pos" "positive"]
             [:grad_dia "komp" "comparative"]
             [:grad_dia "sup" "superlative"]]
   "Number" [[:tall "ent" "singular"]
             [:tall "fl" "plural"]]
   "Gender" [[:kjonn "f" "feminine"]
             [:kjonn "m/f" "feminine or masculine"]
             [:kjonn "n" "neuter"]]]]
 ["adv" "adverb" nil []]
 ["det" "determiner" nil
  ["Type" [[:type "dem" "demonstrative"]
           [:type "forst" "emphatic"]
           [:type "hfl" "polite"]
           [:type "kvant" "quantifier"]
           [:type "poss" "possessive"]
           [:type "spm" "interrogative"]]]]
 ["infmerke" "infinitive marker" nil []]
 ["interj" "interjection" nil []]
 ["konj" "conjunction" nil []]
 ["prep" "preposition" nil []]
 ["pron" "pronoun" nil
  ["Type" [[:type "hum" "human"]
           [:type "hfl" "polite"]
           [:type "pers" "personal"]
           [:type "refl" "reflexive"]
           [:type "spm" "interrogative"]]
   "Case" [[:modus_kasus "akk" "accusative"]
           [:modus_kasus "nom" "nominative"]]
   "Person" [[:person_type2 "1" "1st person"]
             [:person_type2 "2" "2nd person"]
             [:person_type2 "3" "3rd person"]]
   "Gender" [[:kjonn "f" "feminine"]
             [:kjonn "m" "masculine"]
             [:kjonn "n" "neuter"]]
   "Number" [[:tall "ent" "singular"]
             [:tall "fl" "plural"]]]]
 ["sbu" "subjunction" nil []]
 ["s" "noun" nil
  ["Type" [[:type "a" "common name"]
           [:type "p" "proper name"]
           [:type "ubøy" "no inflection"]]
   "Gender" [[:kjonn "f" "feminine"]
             [:kjonn "m" "masculine"]
             [:kjonn "n" "neuter"]]
   "Definiteness" [[:tid_bestemthet "be" "definite"]
                   [:tid_bestemthet "ub" "indefinite"]]
   "Number" [[:tall "ent" "singular"]
             [:tall "fl" "plural"]]]]
 ["ukjent" "unknown" nil []]
 ["v" "verb" nil
  ["Voice" [[:grad_dia "pass" "passive"]]
   "Mood" [[:modus_kasus "imp" "imperative"]]
   "Tense" [[:tid_bestemthet "pres" "present tense"]
            [:tid_bestemthet "past" "past tense"]]
   "Type" [[:tid_bestemthet "inf" "infinitive"]
           [:type "perf-part-v" "past participle"]
           [:type "ubøy" "no inflection"]]]]]
