[{:displayed-attrs [[:lemma "Lemma"] [:pos "Part of speech"] [:subclass "Subclass"]
                    [:grade "Grade"] [:number "Number"] [:case "Case"] [:attribute "Attribute"]
                    [:person_number "Person/number"] [:mood "Mood"] [:tense "Tense"]
                    [:nominal_verb_form "Nominal verb form"] [:derivation "Derivation"]
                    [:descr "Description"] [:nlex "Non-lexical"]]}
 ["adjective" "adjective" nil
  ["subclass" [[:subclass "ordinal" "ordinal"]]
   "grade" [[:grade "comperative" "comparative"]
            [:grade "superlative" "superlative"]]
   "number" [[:number "singular" "singular"]
             [:number "plural" "plural"]]
   "case" [[:case "nominative" "nominative"]
           [:case "accusative" "accusative"]
           [:case "genitive" "genitive"]
           [:case "locative" "locative"]
           [:case "comitative" "comitative"]
           [:case "illative" "illative"]
           [:case "essive" "essive"]]]]
 ["adverb" "adverb" nil []]
 ["conjunction" "conjunction" nil []]
 ["subjunction" "subjunction" nil []]
 ["interjection" "interjection" nil []]
 ["noun" "noun" nil
  ["subclass" [[:subclass "proper_noun" "proper noun"]
               [:subclass "abbreviation" "abbreviation"]
               [:subclass "acronym" "acronym"]]
   "number" [[:number "singular" "singular"]
             [:number "plural" "plural"]]
   "case" [[:case "nominative" "nominative"]
           [:case "accusative" "accusative"]
           [:case "genitive" "genitive"]
           [:case "locative" "locative"]
           [:case "comitative" "comitative"]
           [:case "illative" "illative"]
           [:case "essive" "essive"]]]]
 ["numeral" "numeral" nil
  ["subclass" [[:subclass "cardinal_number" "cardinal number"]]]]
 ["particle" "particle" nil []]
 ["postposition" "postposition" nil []]
 ["preposition" "preposition" nil []]
 ["pronoun" "pronoun" nil
  ["subclass" [[:subclass "person_pronoun" "personal"]
               [:subclass "demonstrative_pronoun" "demonstrative"]
               [:subclass "indefinite_pronoun" "indefinite"]
               [:subclass "interrogative_pronoun" "interrogative"]
               [:subclass "reciprocal_pronoun" "reciprocal"]
               [:subclass "reflecsive_pronoun" "reflexive"]
               [:subclass "relative_pronoun" "relative"]]
   "person/number" [[:person_number "singular_1._person" "singular 1. person"]
                    [:person_number "singular_2._person" "singular 2. person"]
                    [:person_number "singular_3._person" "singular 3. person"]
                    [:person_number "dual_1._person" "dual 1. person"]
                    [:person_number "dual_2._person" "dual 2. person"]
                    [:person_number "dual_3._person" "dual 3. person"]
                    [:person_number "plural_1._person" "plural 1. person"]
                    [:person_number "plural_2._person" "plural 2. person"]
                    [:person_number "plural_3._person" "plural 3. person"]]
   "case" [[:case "nominative" "nominative"]
           [:case "accusative" "accusative"]
           [:case "genitive" "genitive"]
           [:case "locative" "locative"]
           [:case "comitative" "comitative"]
           [:case "illative" "illative"]
           [:case "essive" "essive"]]]]
 ["verb" "verb" nil
  ["mood" [[:mood "indicative" "indicative"]
           [:mood "imperative" "imperative"]
           [:mood "potential" "potential"]
           [:mood "conditional" "conditional"]]
   "tense" [[:tense "present_tense" "present tense"]
            [:tense "preteritum" "preteritum"]]
   "person/number" [[:person_number "singular_1._person" "singular 1. person"]
                    [:person_number "singular_2._person" "singular 2. person"]
                    [:person_number "singular_3._person" "singular 3. person"]
                    [:person_number "dual_1._person" "dual 1. person"]
                    [:person_number "dual_2._person" "dual 2. person"]
                    [:person_number "dual_3._person" "dual 3. person"]
                    [:person_number "plural_1._person" "plural 1. person"]
                    [:person_number "plural_2._person" "plural 2. person"]
                    [:person_number "plural_3._person" "plural 3. person"]
                    [:person_number "negation_form_of_the_verb" "negation form of the verb"]]
   "nominal verb form" [[:nominal_verb_form "infinitive" "infinitive"]
                        [:nominal_verb_form "actio_form_of_the_verb" "actio form of the verb"]
                        [:nominal_verb_form "gerund" "gerund"]
                        [:nominal_verb_form "present_participle" "present participle"]
                        [:nominal_verb_form "perfect_participle" "perfect participle"]
                        [:nominal_verb_form "verb_genitive" "verb genitive"]
                        [:nominal_verb_form "verb_abessive" "verb abessive"]]]]]
