[{:displayed-attrs [[:lemma "Lemma"] [:phon "Phonetic form"] [:pos "Part-of-speech"]
                    [:gender "Gender"] [:num "Number"] [:type "Type"] [:defn "Definiteness"]
                    [:temp "Tense"] [:pers "Person"] [:case "Case"] [:degr "Degree"]
                    [:descr "Description"] [:nlex "Non-lexical"] [:mood "Mood"] [:voice "Voice"]]}
 ["noun" "noun" nil
  ["Number" [[:num "pl" "plural"]
             [:num "sg" "singular"]
             [:num "sg:pl" "singular/plural"]]
   "Definiteness" [[:defn "def" "definite"]
                   [:defn "indef" "indefinite"]]
   "Gender" [[:gender "fem" "feminine"]
             [:gender "masc" "masculine"]
             [:gender "masc:fem" "masculine/feminine"]
             [:gender "masc:fem:neut" "masculine/feminine/neuter"]
             [:gender "masc:neut" "masculine/neuter"]
             [:gender "unspec" "unspecified (Icelandic)"]]
   "Case" [[:case "acc" "accusative"]
           [:case "dat" "dative"]
           [:case "gen" "genitive"]
           [:case "nom" "nominative"]]
   "Proper" [[:type "prop" "proper"]]]]
 ["verb" "verb" nil
  ["Tense" [[:temp "pret" "past (not Icelandic)"]
            [:temp "past" "past (Icelandic)"]
            [:temp "pres" "present"]
            [:temp "pres:inf" "present/infinitive"]
            [:temp "pret:perf-part" "past/past participle"]]
   "Mood" [[:mood "imp" "imperative"]
           [:mood "ind" "indicative"]
           [:mood "inf" "infinitive"]
           [:temp "inf:imp" "infinitive/imperative"]
           [:temp "perf-part" "past participle (not Icelandic)"]
           [:mood "past-part" "past participle (Icelandic)"]
           [:mood "pres-part" "present participle"]
           [:mood "subjunctive" "subjunctive"]
           [:mood "supine" "supine (Swedish)"]]
   "Voice" [[:voice "act" "active"]
            [:voice "mid" "middle"]
            [:voice "sform" "passive"]]]]
 ["pron" "pronoun" nil
  ["Gender" [[:gender "fem" "feminine"]
             [:gender "masc" "masculine"]
             [:gender "neut" "neuter"]
             [:gender "masc:fem" "masculine/feminine"]
             [:gender "masc:neut" "masculine/neuter"]]
   "Case" [[:case "acc" "accusative"]
           [:case "dat" "dative"]
           [:case "gen" "genitive"]
           [:case "nom" "nominative"]]
   "Number" [[:num "pl" "plural"]
             [:num "sg" "singular"]
             [:num "sg:pl" "singular/plural"]]
   "Person" [[:pers "1." "1."]
             [:pers "2." "2."]
             [:pers "3." "3."]]
   "Type" [[:type "pers" "personal"]
           [:type "poss" "possessive"]
           [:type "q" "interrogative"]
           [:type "refl" "reflexive"]]]]
 ["det" "determiner" nil
  ["Gender" [[:gender "fem" "feminine"]
             [:gender "masc" "masculine"]
             [:gender "neut" "neuter"]
             [:gender "masc:fem" "masculine/feminine"]
             [:gender "masc:neut" "masculine/neuter"]]
   "Case" [[:case "acc" "accusative"]
           [:case "dat" "dative"]
           [:case "gen" "genitive"]
           [:case "nom" "nominative"]]
   "Number" [[:num "pl" "plural"]
             [:num "sg" "singular"]
             [:num "sg:pl" "singular/plural"]]
   "Definiteness" [[:defn "def" "definite"]
                   [:defn "indef" "indefinite"]]
   "Type" [[:type "dem" "demonstrative"]
           [:type "quant" "quantifier"]
           [:type "poss" "possessive"]
           [:type "intensifier" "intensifier"]
           [:type "q" "interrogative"]]]]
 ["adj" "adjective" nil
  ["Definiteness" [[:defn "def" "definite (not Icelandic)"]
                   [:defn "indef" "indefinite (not Icelandic)"]
                   [:type "strong" "strong (Icelandic)"]
                   [:type "weak" "weak (Icelandic)"]
                   [:defn "indef:def" "indefinite/definite (Swedish)"]]
   "Gender" [[:gender "fem" "feminine"]
             [:gender "masc" "masculine"]
             [:gender "neut" "neuter"]
             [:gender "m:f" "masculine/feminine"]
             [:gender "masc:neut" "masculine/neuter"]]
   "Number" [[:num "pl" "plural"]
             [:num "sg" "singular"]
             [:num "sg:pl" "singular/plural"]]
   "Degree" [[:degr "pos" "positive"]
             [:degr "comp" "comparative"]
             [:degr "sup" "superlative"]]
   "Case" [[:case "acc" "accusative"]
           [:case "dat" "dative"]
           [:case "gen" "genitive"]
           [:case "nom" "nominative"]]
   "Other" [[:type "uninflected" "uninflected"]]]]
 ["adv" "adverb" nil
  ["Degree" [[:degr "pos" "positive"]
             [:degr "comp" "comparative"]
             [:degr "sup" "superlative"]]]]
 ["prep" "preposition" nil
  ["Government" [[:type "gov-acc" "governs accusative"]
                 [:type "gov-dat" "governs dative"]]]]
 ["interj" "interjection" nil
  ["Misc" [[:type "hesit" "hesitation"]]]]
 ["conj" "conjunction" nil []]
 ["inf-marker" "infinitive marker" nil []]
 ["subjunc" "subjunction" nil []]
 ["sånn-word" "sånn-word" nil []]
 ["unknown" "unknown" nil []]
 ["adv:subjunc" "adverb/subjunction" nil []]
 ["conj:prep:adv" "conjunction/preposition/adverb" nil []]
 ["conj:subjunc:adv" "conjunction/subjunction/adverb" nil []]
 ["noun:adj" "noun/adjective" nil []]
 ["prep:subjunc" "preposition/subjunction" nil []]
 ["pron:det" "pronoun/determiner" nil []]
 ["verb:noun" "verb/noun" nil []]
 ["pause" "pause" nil []]]
