[{:displayed-attrs [[:lemma "Lemma"] [:phon "Phonetic form"] [:pos "Part-of-speech"]
                    [:gender "Gender"] [:num "Number"] [:defn "Definiteness"]
                    [:case "Case"] [:const "Syntax"]
                    [:tense "Tense"] [:mood "Mood"] [:voice "Voice"]
                    [:nonfinite "Non-finite"] [:degr "Degree"] [:other "Other"]
                    [:descr "Description"] [:nlex "Non-lexical"] [:url "URL"]]}
 ["adjective" "adjective" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]
             [:num "underspecified" "singular/plural"]]
   "Definiteness" [[:defn "indefinite" "indefinite"]
                   [:defn "definite" "definite"]
                   [:defn "underspecified" "indefinite/definite"]]
   "Case" [[:case "nominative" "nominative"]
           [:case "genitive" "genitive"]]
   "Degree" [[:degr "positive" "positive"]
             [:degr "comparative" "comparative"]
             [:degr "superlative" "superlative"]]]]
 ["adverb" "adverb" nil
  ["Degree" [[:degr "positive" "positive"]
             [:degr "comparative" "comparative"]
             [:degr "superlative" "superlative"]]]]
 ["determiner" "determiner" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]
             [:num "underspecified" "singular/plural"]]
   "Definiteness" [[:defn "indefinite" "indefinite"]
                   [:defn "definite" "definite"]
                   [:defn "underspecified" "indefinite/definite"]]]]
 ["discourse_particle" "discourse particle" nil
  []]
 ["proper_noun" "proper noun" nil
  ["Case" [[:case "nominative" "nominative"]
           [:case "genitive" "genitive"]]]]
 ["interrogative;relative_adverb" "interrogative/relative adverb" nil []]
 ["interrogative;relative_determiner" "interrogative/relative determiner" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]]
   "Definiteness" [[:defn "indefinite" "indefinite"]]]]
 ["interrogative;relative_possessive" "interrogative/relative possessive" nil
  ["Definiteness" [[:defn "definite" "definite"]]]]
 ["interrogative;relative_pronoun" "interrogative/relative pronoun" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]]
   "Definiteness" [[:defn "indefinite" "indefinite"]]]]
 ["infinitive_marker" "infinitive marker" nil []]
 ["interjection" "interjection" nil []]
 ["conjunction" "conjunction" nil []]
 ["participle" "participle" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]
             [:num "underspecified" "singular/plural"]]
   "Definiteness" [[:defn "indefinite" "indefinite"]
                   [:defn "definite" "definite"]
                   [:defn "underspecified" "indefinite/definite"]]
   "Case" [[:case "nominative" "nominative"]]
   "Verb form" [[:tense "present" "present"]
                [:nonfinite "perfect_participle" "perfect participle"]]]]
 ["particle" "particle" nil []]
 ["pause" "pause" nil []]
 ["possessive" "possessive" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]
             [:num "underspecified" "singular/plural"]]
   "Definiteness" [[:defn "definite" "definite"]]]]
 ["preposition" "preposition" nil []]
 ["pronoun" "pronoun" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]
             [:gender "underspecified" "neuter/common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]
             [:num "underspecified" "singular/plural"]]
   "Definiteness" [[:defn "definite" "definite"]
                   [:defn "indefinite" "indefinite"]]
   "Syntax" [[:const "subject" "subject"]
             [:const "object" "object"]
             [:const "underspecified" "subject/object"]]]]
 ["cardinal_number" "cardinal number" nil
  ["Case" [[:case "nominative" "nominative"]]
   "Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]]
   "Number" [[:num "singular" "singular"]]
   "Definiteness" [[:defn "indefinite" "indefinite"]]]]
 ["ordinal_number" "ordinal number" nil
  ["Case" [[:case "nominative" "nominative"]]]]
 ["noun" "noun" nil
  ["Gender" [[:gender "neuter" "neuter"]
             [:gender "non-neuter" "common (uter)"]]
   "Number" [[:num "singular" "singular"]
             [:num "plural" "plural"]]
   "Definiteness" [[:defn "definite" "definite"]
                   [:defn "indefinite" "indefinite"]]
   "Case" [[:case "nominative" "nominative"]
           [:case "genitive" "genitive"]]]]
 ["subjunction" "subjunction" nil []]
 ["foreign_word" "foreign word" nil []]
 ["verb" "verb" nil
  ["Tense" [[:tense "present" "present"]
            [:tense "preterite" "preterite"]]
   "Mood" [[:mood "imperative" "imperative"]
           [:mood "subjunctive" "subjunctive"]]
   "Voice" [[:voice "active" "active"]
            [:voice "s-form" "s-form"]]
   "Non-finite" [[:nonfinite "infinitive" "infinitive"]
                 [:nonfinite "supine" "supine"]]]]]
