[{:displayed-attrs [[:lemma "Lemma"] [:phon "Phonetic form"] [:pos "Part-of-speech"]
                    [:gender "Gender"] [:num "Number"] [:defn "Definiteness"] [:const "Syntax"]
                    [:verbform "Verb form"] [:degr "Degree"] [:other "Other"]
                    [:descr "Description"] [:nlex "Non-lexical"] [:url "URL"]]}
 ["adjektiv" "adjektiv" nil
  ["Gender" [[:gender "maskulinum" "maskulinum"]
             [:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]
             [:num "underspecificerat" "underspecificerat"]]
   "Definiteness" [[:defn "obestämd_form" "obestämd form"]
                   [:defn "bestämd_form" "bestämd form"]
                   [:defn "underspecificerat" "underspecificerat"]]
   "Case" [[:case "grundform" "grundform"]
           [:case "genitiv" "genitiv"]]
   "Degree" [[:degr "positiv" "positiv"]
             [:degr "komparativ" "komparativ"]
             [:degr "superlativ" "superlativ"]]
   "Other" [[:case "sammansättning" "sammansättning"]]]]
 ["adverb" "adverb" nil
  ["Degree" [[:degr "positiv" "positiv"]
             [:degr "komparativ" "komparativ"]
             [:degr "superlativ" "superlativ"]]
   "Other" [[:case "sammansättning" "sammansättning"]
            [:other "förkortning" "förkortning"]]]]
 ["determinerare;bestämningsord" "determinerare/bestämningsord" nil
  ["Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]
             [:num "underspecificerat" "underspecificerat"]]
   "Definiteness" [[:defn "obestämd_form" "obestämd form"]
                   [:defn "bestämd_form" "bestämd form"]
                   [:defn "underspecificerat" "underspecificerat"]]]]
 ["diskurspartikel" "diskurspartikel" nil
  []]
 ["egennamn" "egennamn" nil
  ["Case" [[:case "grundform" "grundform"]
           [:case "genitiv" "genitiv"]]
   "Other" [[:case "sammansättning" "sammansättning"]]]]
 ["frågande;relativt_adverb" "frågande/relativt adverb" nil []]
 ["frågande;relativ_bestämning" "frågande/relativ bestämning" nil
  ["Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]]
   "Definiteness" [[:defn "obestämd_form" "obestämd form"]]]]
 ["frågande;relativt_possessivuttryck" "frågande/relativt possessivuttryck" nil
  ["Definiteness" [[:defn "bestämd_form" "bestämd form"]]
   "Other" [[:case "sammansättning" "sammansättning"]]]]
 ["frågande;relativt_pronomen" "frågande/relativt pronomen" nil
  ["Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]]
   "Definiteness" [[:defn "obestämd_form" "obestämd form"]]
   "Other" [[:case "sammansättning" "sammansättning"]]]]
 ["infinitivmärke" "infinitivmärke" nil []]
 ["interjektion" "interjektion" nil []]
 ["konjunktion" "konjunktion" nil []]
 ["particip" "particip" nil
  ["Gender" [[:gender "maskulinum" "maskulinum"]
             [:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]
             [:num "underspecificerat" "underspecificerat"]]
   "Definiteness" [[:defn "obestämd_form" "obestämd form"]
                   [:defn "bestämd_form" "bestämd form"]
                   [:defn "underspecificerat" "underspecificerat"]]
   "Case" [[:case "grundform" "grundform"]]
   "Verb form" [[:verbform "presens" "presens"]
                [:verbform "perfekt_particip" "perfekt particip"]]]]
 ["partikel" "partikel" nil []]
 ["paus" "paus" nil []]
 ["possessivuttryck" "possessivuttryck" nil
  ["Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]
             [:num "underspecificerat" "underspecificerat"]]
   "Definiteness" [[:defn "bestämd_form" "bestämd form"]]]]
 ["preposition" "preposition" nil []]
 ["pronomen" "pronomen" nil
  ["Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]
             [:gender "underspecificerat" "underspecificerat"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]
             [:nun "underspecificerat" "underspecificerat"]]
   "Definiteness" [[:defn "bestämd_form" "bestämd form"]
                   [:defn "obestämd_form" "obestämd form"]]
   "Syntax" [[:const "subjekt" "subjekt"]
             [:const "objekt" "objekt"]
             [:const "underspecificerat" "underspecificerat"]]]]
 ["räkneord:grundtal" "räkneord: grundtal" nil
  ["Case" [[:case "grundform" "grundform"]]
   "Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]]
   "Number" [[:num "singularis" "singularis"]]
   "Definiteness" [[:defn "obestämd_form" "obestämd form"]]
   "Other" [[:case "sammansättning" "sammansättning"]]]]
 ["räkneord:ordningstal" "räkneord: ordningstal" nil
  ["Case" [[:case "grundform" "grundform"]]
   "Other" [[:case "sammansättning" "sammansättning"]]]]
 ["substantiv" "substantiv" nil
  ["Gender" [[:gender "neutrum" "neutrum"]
             [:gender "utrum" "utrum"]]
   "Number" [[:num "singularis" "singularis"]
             [:num "pluralis" "pluralis"]]
   "Definiteness" [[:defn "bestämd_form" "bestämd form"]
                   [:defn "obestämd_form" "obestämd form"]]
   "Case" [[:case "grundform" "grundform"]
           [:case "genitiv" "genitiv"]]
   "Other" [[:case "sammansättning" "sammansättning"]
            [:other "förkortning" "förkortning"]]]]
 ["subjunktion" "subjunktion" nil []]
 ["utländskt_ord" "utländskt ord" nil []]
 ["verb" "verb" nil
  ["Verb form" [[:verbform "aktiv_diates" "aktiv diates"]
                [:verbform "s-form" "s-form"]]
   "Other" [[:case "sammansättning"]]]]]
