[{:displayed-attrs [[:lemma "Lemma"] [:phon "Phonetic form"] [:pos "Part-of-speech"]
                    [:gender "Gender"] [:num "Number"] [:defn "Definiteness"]
                    [:case "Case"] [:const "Syntax"]
                    [:verbform "Verb form"] [:degr "Degree"] [:other "Other"]
                    [:descr "Description"] [:nlex "Non-lexical"] [:url "URL"]]}
 ["adjektiv" "adjective" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]
             [:num "underspecificerat" "singular/plural"]]
   "Definiteness" [[:defn "obestämd_form" "indefinite"]
                   [:defn "bestämd_form" "definite"]
                   [:defn "underspecificerat" "indefinite/definite"]]
   "Case" [[:case "grundform" "nominative"]
           [:case "genitiv" "genitive"]]
   "Degree" [[:degr "positiv" "positive"]
             [:degr "komparativ" "comparative"]
             [:degr "superlativ" "superlative"]]]]
 ["adverb" "adverb" nil
  ["Degree" [[:degr "positiv" "positive"]
             [:degr "komparativ" "comparative"]
             [:degr "superlativ" "superlative"]]]]
 ["determinerare;bestämningsord" "determiner" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]
             [:num "underspecificerat" "singular/plural"]]
   "Definiteness" [[:defn "obestämd_form" "indefinite"]
                   [:defn "bestämd_form" "definite"]
                   [:defn "underspecificerat" "indefinite/definite"]]]]
 ["diskurspartikel" "discourse particle" nil
  []]
 ["egennamn" "proper noun" nil
  ["Case" [[:case "grundform" "nominative"]
           [:case "genitiv" "genitive"]]]]
 ["frågande;relativt_adverb" "interrogative/relative adverb" nil []]
 ["frågande;relativ_bestämning" "interrogative/relative determiner" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]]
   "Definiteness" [[:defn "obestämd_form" "indefinite"]]]]
 ["frågande;relativt_possessivuttryck" "interrogative/relative possessive" nil
  ["Definiteness" [[:defn "bestämd_form" "definite"]]]]
 ["frågande;relativt_pronomen" "interrogative/relative pronoun" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]]
   "Definiteness" [[:defn "obestämd_form" "indefinite"]]]]
 ["infinitivmärke" "infinitive marker" nil []]
 ["interjektion" "interjection" nil []]
 ["konjunktion" "conjunction" nil []]
 ["particip" "participle" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]
             [:num "underspecificerat" "singular/plural"]]
   "Definiteness" [[:defn "obestämd_form" "indefinite"]
                   [:defn "bestämd_form" "definite"]
                   [:defn "underspecificerat" "indefinite/definite"]]
   "Case" [[:case "grundform" "nominative"]]
   "Verb form" [[:verbform "presens" "present"]
                [:verbform "perfekt_particip" "perfect participle"]]]]
 ["partikel" "particle" nil []]
 ["paus" "pause" nil []]
 ["possessivuttryck" "possessive" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]
             [:num "underspecificerat" "singular/plural"]]
   "Definiteness" [[:defn "bestämd_form" "definite"]]]]
 ["preposition" "preposition" nil []]
 ["pronomen" "pronoun" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]
             [:gender "underspecificerat" "neuter/common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]
             [:num "underspecificerat" "singular/plural"]]
   "Definiteness" [[:defn "bestämd_form" "definite"]
                   [:defn "obestämd_form" "indefinite"]]
   "Syntax" [[:const "subjekt" "subject"]
             [:const "objekt" "object"]
             [:const "underspecificerat" "subject/object"]]]]
 ["räkneord:grundtal" "cardinal number" nil
  ["Case" [[:case "grundform" "nominative"]]
   "Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]]
   "Number" [[:num "singularis" "singular"]]
   "Definiteness" [[:defn "obestämd_form" "indefinite"]]]]
 ["räkneord:ordningstal" "ordinal number" nil
  ["Case" [[:case "grundform" "nominative"]]]]
 ["substantiv" "noun" nil
  ["Gender" [[:gender "neutrum" "neuter"]
             [:gender "utrum" "common (uter)"]]
   "Number" [[:num "singularis" "singular"]
             [:num "pluralis" "plural"]]
   "Definiteness" [[:defn "bestämd_form" "definite"]
                   [:defn "obestämd_form" "indefinite"]]
   "Case" [[:case "grundform" "nominative"]
           [:case "genitiv" "genitive"]]]]
 ["subjunktion" "subjunction" nil []]
 ["utländskt_ord" "foreign word" nil []]
 ["verb" "verb" nil
  ["Verb form" [[:verbform "aktiv_diates" "active"]
                [:verbform "s-form" "s-form"]]]]]
