[{:displayed-attrs [[:lemma "Lemma"] [:orig "Original form"] [:descr "Annotation"]
                    [:pos "Part of speech"] [:type "Type"] [:degr_dia "Degree or Voice"]
                    [:tense_defin "Tense"]
                    [:person_type2 "Person or extended type info"] [:number "Number"]]}
 ["adj" "adjective" nil
  ["Degree" [[:degr_dia "pos" "positive"]
             [:degr_dia "comp" "comparative"]
             [:degr_dia "sup" "superlative"]]]]
 ["adv" "adverb" nil
  ["Degree" [[:degr_dia "pos" "positive"]
             [:degr_dia "comp" "comparative"]
             [:degr_dia "sup" "superlative"]]
   "Type" [[:person_type2 "wh" "wh-"]]]]
 ["conj" "conjunction" nil []]
 ["det" "determiner" nil
  ["Type" [[:person_type2 "wh" "wh-"]]]]
 ["n" "noun" nil
  ["Type" [[:type "p" "proper noun"]
           [:type "c" "common noun"]]
   "Number" [[:number "sg" "singular"]
             [:number "pl" "plural"]]]]
 ["prep" "preposition" nil []]
 ["pron" "pronoun" nil
  ["Type" [[:type "poss" "possessive"]
           [:type "pers" "personal"]
           [:person_type2 "wh" "wh-"]]]]
 ["uh" "interjection" nil []]
 ["v" "verb" nil
  ["Tense" [[:tense_defin "present" "present"]
            [:tense_defin "past" "past"]]
   "Type" [[:type "modal" "modal"]
           [:tense_defin "base" "base"]
           [:type "be" "*be*-verb"]
           [:type "have" "*have*-verb"]
           [:tense_defin "gerund" "gerund"]
           [:tense_defin "pastpart" "past participle"]
           [:person_type2 "3ps" "3rd person singular"]
           [:person_type2 "n3ps" "not 3rd person singular"]]]]
 ["ex" "existential *there*" nil []]
 ["fw" "foreign word" nil []]
 ["list" "list item marker" nil []]
 ["number" "number" nil []]
 ["pos" "possessive ending" nil []]
 ["sent" "sentence final punctuation" nil []]
 ["punct" "other punctuation" nil
  ["Type" [[:type "pound" "#"]
           [:type "dollar" "$"]
           [:type "quo" "quotes"]
           [:type "lpar" "("]
           [:type "rpar" ")"]
           [:type "comma" ","]
           [:type "kolon" ":"]]]]
 ["rp" "particle" nil []]
 ["sym" "symbol" nil []]
 ["to" "*to*" nil []]]