[{:type "Type" :mood_case "Mood/Case" :tense_defin "Tense/definiteness"}
 ["abbr" "abbreviation" nil []]
 ["adj" "adjective" nil []]
 ["adv" "adverb" nil []]
 ["art" "article" nil []]
 ["pron" "pronoun" nil
  ["Type" [[:type "poss" "possessive"]
           [:type "dem" "demonstrative"]
           [:type "indef" "indefinite"]
           [:type "pers" "personal"]
           [:type "rel" "relative"]]]]
 ["int" "interjection" nil []]
 ["n" "noun" nil
  ["Type" [[:type "p" "proper noun"]
           [:type "c" "common noun"]]]]
 ["number" "number" nil []]
 ["prep" "preposition" nil []]
 ["punct" "punctuation" nil []]
 ["symb" "symbol" nil []]
 ["v" "verb" nil
  ["Mood" [[:mood_case "cond" "conditional"]
           [:mood_case "subj" "subjunctive"]]
   "Tense" [[:tense_defin "futur" "future"]
            [:tense_defin "impera" "imperative"]
            [:tense_defin "imperf" "imperfect"]
            [:tense_defin "inf" "infinitive"]
            [:tense_defin "part" "participle"]
            [:tense_defin "past" "past"]
            [:tense_defin "present" "present"]
            [:tense_defin "simple-past" "simple past"]]
   "Type" [[:type "pres" "present participle"]
           [:type "past" "past participle"]]]]]