[{:displayed-attrs [[:lemma "Lemma"] [:pos "Part of speech"] [:type "Type"]
                    [:degr_dia "Degree or Voice"] [:tense_defin "Tense or Definiteness"]
                    [:mood_case "Mood or Case"]]}
 ["abbr" "abbreviation" nil []]
 ["adj" "adjective" nil []]
 ["adv" "adverb" nil []]
 ["conj" "conjunction" nil []]
 ["art" "article" nil
  ["Definiteness" [[:tense_defin "def" "definite"]
                   [:tense_defin "indef" "indefinite"]]]]
 ["fw" "foreign word" nil []]
 ["int" "interjection" nil []]
 ["ls" "list symbol" nil []]
 ["n" "noun" nil
  ["Type" [[:type "p" "proper name"]
           [:type "c" "common noun"]]]]
 ["number" "number" nil []]
 ["prep" "preposition" nil []]
 ["prep_art" "preposition+article" nil []]
 ["punct" "punctuation" nil []]
 ["pron" "pronoun" nil
  ["Type" [[:type "dem" "demonstrative"]
           [:type "inter" "interrogative"]
           [:type "pers" "personal"]
           [:type "poss" "possessive"]
           [:type "refl" "reflexive"]
           [:type "rel" "relative"]]
   "Definiteness" [[:tense_defin "indef" "indefinite"]]]]
 ["sent" "sentence marker" nil []]
 ["symb" "symbol" nil []]
 ["v" "verb" nil
  ["Type" [[:type "conj_imperf" "conjunctive imperfect"]
           [:type "imperf" "imperfect"]
           [:type "conj_present" "conjunctive present"]
           [:type "gerund" "gerund"]
           [:type "inf" "infinitive"]
           [:type "perf_part" "participle perfect"]
           [:type "pres_part" "participle present"]
           [:type "refl_inf" "reflexive infinitive"]]
   "Mode" [[:mood_case "cond" "conditional"]
           [:mood_case "imp" "imperative"]]
   "Tense" [[:tense_defin "fut" "future"]
            [:tense_defin "pres" "present"]
            [:tense_defin "past" "simple past"]]]]]