[{:displayed-attrs [[:lemma "Lemma"] [:pos "Part of speech"]]}
["adj" "adjective" nil []]
["adv" "adverb" nil []]
["art" "article" nil []]
["comma" "comma" nil []]
["conj" "conjunction" nil []]
["interj" "interjection" nil []]
["misc" "miscellaneous" nil []]
["n" "noun" nil []]
["number" "number" nil []]
["prep" "preposition" nil []]
["pron" "pronoun" nil []]
["punct" "punctuation" nil []]
["v" "verb" nil []]]
