[[:pos "Part of speech"
  ["adj" "Adjective"]
  ["adv" "Adverb"]
  ["adv:subjunc" "Adverb/subjunction"]
  ["conj" "Conjunction"]
  ["conj:prep:adv" "Conjunction/preposition/adverb"]
  ["conj:subjunc:adv" "Conjunction/subjunction/adverb"]
  ["det" "Determiner"]
  ["inf-marker" "Infinitive marker"]
  ["interj" "Interjection"]
  ["noun" nil]
  ["noun:adj" "Noun/adjective"]
  ["pause" nil]
  ["prep" "Preposition"]
  ["prep:subjunc" "Preposition/subjunction"]
  ["pron" "Pronoun"]
  ["pron:det" "Pronoun/determiner"]
  ["subjunc" "Subjunction"]
  ["sånn-word" nil]
  ["unknown" nil]
  ["verb" nil]
  ["verb:noun" "Verb/noun"]]
 [:num "Number"
  ["pl" "Plural"]
  ["sg" "Singular"]
  ["sg:pl" "Singular/plural"]]
 [:defn "Definiteness"
  ["defn" "Definite"]
  ["indef" "Indefinite"]
  ["indef:def" "Indefinite/definite"]]
 [:gender "Gender"
  ["fem" "Feminine"]
  ["m:f" nil]
  ["masc" "Masculine"]
  ["masc:fem" "Masculine/feminine"]
  ["masc:fem:neut" "Masculine/feminine/neuter"]
  ["masc:neut" "Masculine/neuter"]
  ["neut" "Neuter"]
  ["unspec" "Unspecified"]]
 [:temp "Tense"
  ["inf:imp" "Infinitive/imperative"]
  ["pres" "Present"]
  ["pret" "Past"]
  ["pres:inf" "Present/infinitive"]
  ["perf-part" "Perfect participle"]
  ["pret:perf-part" "Past/perfect participle"]
  ["past" "Past (Icelandic)"]]
 [:mood "Mood"
  ["imp" "Imperative"]
  ["ind" "Indicative"]
  ["inf" "Infinitive"]
  ["past-part" "Past participle"]
  ["pres-part" "Present participle"]
  ["subjunctive" nil]
  ["supine" nil]]
 [:degr "Degree"
  ["comp" "Comparative"]
  ["pos" "Positive"]
  ["sup" "Superlative"]]
 [:pers "Person"
  ["1." nil]
  ["2." nil]
  ["3." nil]]
 [:case "Case"
  ["acc" "Accusative"]
  ["dat" "Dative"]
  ["gen" "Genitive"]
  ["nom" "Nominative"]]
 [:voice "Voice"
  ["act" "Active"]
  ["mid" "Middle"]]
 [:descr "Description"
  ["x" nil]
  ["o" nil]
  ["en" "English segment"]]
 [:type "Type"
  ["abbrev" "Abbreviation"]
  ["cm-noun" "Common noun"]
  ["dem" "Demonstrative"]
  ["gov-acc" nil]
  ["gov-dat" nil]
  ["hesit" "Hesitation"]
  ["intensifier" nil]
  ["no-case" "No case"]
  ["pers" "Personal"]
  ["poss" "Possessive"]
  ["prop" "Proper"]
  ["q" nil]
  ["quant" "Quantifier"]
  ["refl" "Reflexive"]
  ["rel" "Relative"]
  ["strong" nil]
  ["uninflected" nil]
  ["weak" nil]]
 [:nlex "Non-lexical"
  ["back-click" nil]
  ["breathing" nil]
  ["coughing" nil]
  ["draws-breath" "Draws breath"]
  ["front-click" nil]
  ["groaning" nil]
  ["hawking" nil]
  ["interruption" nil]
  ["labial-fricative" "Labial fricative"]
  ["labial-vibrant" "Labial vibrant"]
  ["laughing" nil]
  ["laughter" nil]
  ["onomatopoetic" nil]
  ["sibilant" nil]
  ["sighing" nil]
  ["sniffing" nil]
  ["spelled" nil]
  ["sucking-sound" "Sucking sound"]
  ["unclear" nil]
  ["whistling" nil]
  ["yawning" nil]]]
