[[:descr "Beskrivelse"
  ["x" nil]
  ["o" nil]]
 [:nlex "Ikke-leksikalsk"
  ["lydmalende_ord" nil]
  ["uforståelig" nil]
  ["latter" nil]
  ["sukking" nil]
  ["sibilant" nil]
  ["kremting" nil]
  ["handling" nil]
  ["klipp" nil]
  ["hosting" nil]
  ["avbrudd" nil]
  ["labial_frikativ" nil]
  ["trekker_pusten" nil]
  ["bakre_klikkelyd" nil]
  ["labial_vibrant" nil]
  ["synging" nil]
  ["stønning" nil]
  ["gjesping" nil]
  ["pusting" nil]
  ["snufsing" nil]
  ["prating" nil]
  ["fremre_klikkelyd" nil]
  ["støy" nil]
  ["hvisking" nil]
  ["klikkelyd" nil]
  ["sugelyd" nil]
  ["plystring" nil]
  ["problem" nil]
  ["innledning" nil]
  ["leser" nil]
  ["synger" nil]]]
