[[:error_tag "Error tags"
  ["art" nil "artikkel (artículo)"]
  ["conj" nil "verbbøyning (conjugación)"]
  ["gen" nil "kjønn (género)"]
  ["inc" nil "uforståelig (incomprensible)"]
  ["mod" nil "modus (modo verbal)"]
  ["num" nil "tall (número)"]
  ["ort" nil "skrivefeil (ortografía)"]
  ["pal" nil "ord (palabra)"]
  ["pos" nil "ordplassering (posición)"]
  ["prep" nil "preposisjon (preposición)"]
  ["pro" nil "pronomen (pronombre)"]
  ["temp" nil "verbtid (tiempo verbal)"]
  ["art/gen" nil "artikkel (artículo)/kjønn (género)"]
  ["conj/mod" nil "verbbøyning (conjugación)/modus (modo verbal)"]
  ["conj/ort" nil "verbbøyning (conjugación)/skrivefeil (ortografía)"]
  ["conj/pal" nil "verbbøyning (conjugación)/ord (palabra)"]
  ["conj/pos" nil "verbbøyning (conjugación)/ordplassering (posición)"]
  ["conj/temp" nil "verbbøyning (conjugación)/verbtid (tiempo verbal)"]
  ["gen/num" nil "kjønn (género)/tall (número)"]
  ["gen/ort" nil "kjønn (género)/skrivefeil (ortografía)"]
  ["gen/pal" nil "kjønn (género)/ord (palabra)"]
  ["gen/pos" nil "kjønn (género)/ ordplassering (posición)"]
  ["inc/pal" nil "uforståelig (incomprensible)/ord (palabra)"]
  ["mod/ort" nil "modus (modo verbal)/ skrivefeil (ortografía)"]
  ["mod/pal" nil "modus (modo verbal)/ ord (palabra)"]
  ["mod/temp" nil "modus (modo verbal)/verbtid (tiempo verbal)"]
  ["num/ort" nil "tall (número)/skrivefeil (ortografía)"]
  ["num/pal" nil "tall (número)/ord (palabra)"]
  ["num/pro" nil "tall (número)/pronomen (pronombre)"]
  ["ort/pal" nil "skrivefeil (ortografía)/ord (palabra)"]
  ["ort/pro" nil "skrivefeil (ortografía)/pronomen (pronombre)"]
  ["ort/temp" nil "skrivefeil (ortografía)/verbtid (tiempo verbal)"]
  ["pal/pos" nil "ord (palabra)/ordplassering (posición)"]
  ["pal/pro" nil "ord (palabra)/ pronomen (pronombre)"]
  ["pal/temp" nil "ord (palabra)/verbtid (tiempo verbal)"]
  ["pos/prep" nil "ordplassering (posición)/preposisjon (preposición)"]
  ["pos/pro" nil "ordplassering (posición)/pronomen (pronombre)"]
  ["pos/temp" nil "ordplassering (posición)/verbtid (tiempo verbal)"]]]