[[:descr "Description"
  ["x" nil]
  ["kommentar" "kommentar"]]
 [:nlex "Non-lexical"
  ["avbrudd" nil]
  ["gjespende" nil]
  ["hosting" nil]
  ["klikkelyd" nil]
  ["kremting" nil]
  ["latter" nil]
  ["leende" nil]
  ["pusting" nil]
  ["sibilant" nil]
  ["snufsing" nil]
  ["stønning" nil]
  ["stavet" nil]
  ["sugelyd" nil]
  ["sukking" nil]
  ["uforståelig" nil]
  ["uklart" nil]]
 [:comment "Comment"
  ["fornavn" "fornavn"]
  ["fremre_klikkelyd" "fremre klikkelyd"]
  ["hosting" "hosting"]
  ["humrer" "humrer"]
  ["hviskende" "hviskende"]
  ["kremting" "kremting"]
  ["lang_pause" "lang pause"]
  ["latter" "latter"]
  ["lattermild" "lattermild"]
  ["leende" "leende"]
  ["noterer" "noterer"]
  ["lyder_fra_apparatet" "lyder fra apparatet"]
  ["nikker" "nikker"]
  ["noterer" "noterer"]
  ["pause" "pause"]
  ["pipelyd" "pipelyd"]
  ["pusting" "pusting"]
  ["reiser_seg" "reiser seg"]
  ["rekker_frem_hånden" "rekker frem hånden"]
  ["ser_på_dataskjermen" "ser på dataskjermen"]
  ["ser_på_skjermen" "ser på skjermen"]
  ["setter_seg" "setter seg"]
  ["smiler" "smiler"]
  ["snufsing" "snufsing"]
  ["snur_seg_mot_dataskjermen" "snur seg mot dataskjermen"]
  ["stavet" "stavet"]
  ["stedsnavn" "stedsnavn"]
  ["sukking" "sukking"]
  ["sykehus" "sykehus"]
  ["tar_seg_til_brystet" "tar seg til brystet"]
  ["trekker_pusten" "trekker pusten"]
  ["uforståelig" "uforståelig"]
  ["uklart" "uklart"]
  ["medikamentnavn" "medikamentnavn"]]]
