[[:descr "Description"
  ["gjespande" nil]
  ["kviskrande" nil]
  ["leande" nil]
  ["q" nil]
  ["stønnande_sukkande" "stønnande/sukkande"]
  ["syngande" nil]
  ["uklart" nil]
  ["x" nil]
  ]
 [:nlex "Non-lexical"
  ["kremting" nil]
  ["hosting" nil]
  ["latter" nil]
  ["uforståeleg" nil]
  ["kviskring" nil]
  ["stønn_sukk" "stønn/sukk"]
  ["lydmalande_ord" "lydmalande ord"]
  ["klikkelyd" nil]
  ["gjesp" nil]
  ["plystring" nil]
  ["sang" nil]]]
