[[:word "Annotation in corrected text"
  ["&&sær" "særskriving"]]
 [:orig "Annotation in original"
  ["&&hv" "manglende hjelpeverb"]
  ["&&inf" "manglende infinitivsmerke"]
  ["&&kop" "manglende kopula"]
  ["&&sam" "samskriving"]]]
