[[:descr "Description"
  ["x" nil]
  ["o" nil]]
 [:nlex "Non-lexical"
  ["back-click" nil]
  ["breathing" nil]
  ["coughing" nil]
  ["draws-breath" "Draws breath"]
  ["front-click" nil]
  ["groaning" nil]
  ["hawking" nil]
  ["interruption" nil]
  ["labial-fricative" "Labial fricative"]
  ["labial-vibrant" "Labial vibrant"]
  ["laughing" nil]
  ["laughter" nil]
  ["onomatopoetic" nil]
  ["sibilant" nil]
  ["sighing" nil]
  ["sniffing" nil]
  ["spelled" nil]
  ["sucking-sound" "Sucking sound"]
  ["unclear" nil]
  ["whistling" nil]
  ["yawning" nil]]
 [:pos "Other"
  ["pause" "pause"]]]
