[[:descr "Description"
  ["x" nil]
  ["o" nil]]
 [:nlex "Non-lexical"
  ["back-click" nil]
  ["breathing" nil]
  ["coughing" nil]
  ["draws-breath" "draws breath"]
  ["front-click" nil]
  ["groaning" nil]
  ["hawking" nil]
  ["interruption" nil]
  ["labial-fricative" "labial fricative"]
  ["labial-vibrant" "labial vibrant"]
  ["laughing" nil]
  ["laughter" nil]
  ["onomatopoetic" nil]
  ["sibilant" nil]
  ["sighing" nil]
  ["sniffing" nil]
  ["spelled" nil]
  ["sucking-sound" "sucking sound"]
  ["unclear" nil]
  ["whistling" nil]
  ["yawning" nil]]]
