[[:descr "Description"
  ["laughing" nil]
  ["x" "Dialect word, word from another language, slang – not described in the dictionary"]
  ["quoted" nil]
  ["sighing" nil]
  ["unclear" nil]
  ["whispering" nil]
  ["onomatopoeia" nil]
  ["coughing" nil]
  ["yawning" nil]]
 [:nlex "Non-lexical"
  ["laughter" nil]
  ["onomatopoeia" nil]
  ["clicking_sound" "(meaningful) clicking sound"]
  ["sigh" nil]
  ["throat_clearing" "throat-clearing"]
  ["unintelligible" nil]
  ["coughing" nil]
  ["whisper" nil]
  ["yawn" nil]]]
