[[:nlex "Non-lexical"
  ["inandning" "inandning"]
  ["skratt" "skratt"]
  ["smack" "smack"]
  ["utandning" "utandning"]
  ["harkling" "harkling"]
  ["ohörbart" "ohörbart"]
  ["sväljer" "sväljer"]
  ["snörvlar" "snörvlar"]
  ["suckar" "suckar"]
  ["hostar" "hostar"]]
 [:descr "Description"
  ["skrattande" "skrattande"]
  ["inandning" "inandning"]
  ["osäkert" "osäkert"]
  ["utandning" "utandning"]
  ["skratt" "skratt"]
  ["viskande" "viskande"]
  ["FO" "FO"]
  ["viskar" "viskar"]
  ["gäspning" "gäspning"]
  ["sjunger" "sjunger"]]
 [:descr "Non-standard forms"
  ["x" "x"]
  ["g" "g"]]]
