[[:nlex "Non-lexical"
  ["inandning" "inandning"]
  ["skrattar" "skrattar"]
  ["smack" "smack"]
  ["utandning" "utandning"]
  ["harkling" "harkling"]
  ["ohörbart" "ohörbart"]
  ["sväljer" "sväljer"]
  ["snörvlar" "snörvlar"]
  ["suckar" "suckar"]
  ["hostar" "hostar"]]
 [:descr "Description"
  ["skrattar" "skrattar"]
  ["inandning" "inandning"]
  ["osäkert" "osäkert"]
  ["utandning" "utandning"]
  ["viskar" "viskar"]
  ["gäspar" "gäspar"]
  ["sjunger" "sjunger"]]
 [:descr "Non-standard forms"
  ["x" "x"]
  ["g" "g"]]]
