[[:descr "Beskrivelse"
  ["uklart" nil]
  ["leende" nil]
  ["en" nil]
  ["me" nil]
  ["quoted" nil]
  ["x" nil]
  ["stavet" nil]
  ["hviskende" nil]
  ["uklar" nil]
  ["syngende" nil]
  ["gjespende" nil]]
 [:nlex "Ikke-leksikalsk"
  ["latter" nil]
  ["lydmalende_ord" nil]
  ["avbrudd" nil]
  ["fremre_klikkelyd" nil]
  ["kremting" nil]
  ["uforståelig" nil]
  ["problem" nil]
  ["snufsing" nil]
  ["labial_vibrant" nil]
  ["sukking" nil]
  ["sugelyd" nil]
  ["sibilant" nil]
  ["bakre_klikkelyd" nil]
  ["stønning" nil]
  ["trekker_pusten" nil]
  ["klikkelyd" nil]
  ["labial_frikativ" nil]
  ["pusting" nil]
  ["hosting" nil]
  ["sekvens_med_sensitive_personopplysninger" nil]
  ["gjesping" nil]
  ["synging" nil]
  ["plystring" nil]
  ["kyssing" nil]
  ["skriking" nil]
  ["raping" nil]
  ["avsluttende_kommentarer" nil]]]
